<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


</head>


<body>

    <div class="container">
		<div th:fragment="head-css">
		
		
		
			<head>
			
				<meta charset="utf-8"/>
				<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
				<meta name="viewport" content="width=device-width, initial-scale=1"/>
				
				
				
				<link rel="stylesheet" media="screen" href="/resources/static/web/vendors/bootstrap/dist/css/bootstrap.min.css" th:href="@{/static/web/vendors/bootstrap/dist/css/bootstrap.min.css}"/>
		        <link rel="stylesheet" media="screen" href="/resources/static/web/vendors/font-awesome/css/font-awesome.min.css" th:href="@{/resources/static/web/vendors/font-awesome/css/font-awesome.min.css}" type="text/css"/>
				<link rel="stylesheet" media="screen" href="/resources/static/web/vendors/normalize-css/normalize.css" th:href="@{/static/web/vendors/normalize-css/normalize.css}" type="text/css"/>
			    <link rel="stylesheet" media="screen" href="/resources/static/web/vendors/ion.rangeSlider/css/ion.rangeSlider.css" th:href="@{/vendors/ion.rangeSlider/css/ion.rangeSlider.css}" type="text/css"/>
			    <link rel="stylesheet" media="screen" href="/resources/static/web/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" th:href="@{/static/web/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css}"  type="text/css"/>
    			<link rel="stylesheet" media="screen" href="/resources/static/web/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css"  th:href="@{/static/web/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css}"/>
		    	<link rel="stylesheet" media="screen" href="/resources/static/web/build/css/custom.min.css" th:href="@{/static/web/build/css/custom.min.css}" />
		    	
		    	<link rel="stylesheet" media="screen" href="/resources/static/css/custom.min.css" th:href="@{/static/css/custom.min.css}" />




		    	
		    
		   		 <link rel="icon" href="/resources/static/img/favicon.ico" th:href="@{/img/favicon.ico}" />
		    
		    
		    	<script src="/resources/static/web/vendors/jquery/dist/jquery.min.js" th:src="@{/static/web/vendors/jquery/dist/jquery.min.js}" ></script>
		    	<script src="/resources/static/web/vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/static/web/vendors/bootstrap/dist/js/bootstrap.min.js}" ></script>
		          <script src="/resources/static/web/vendors/DateJS/build/date.js" th:src="@{/static/web/vendors/DateJS/build/date.js}" type="text/javascript" ></script> 
		          <script src="/resources/static/web/vendors/bootstrap-daterangepicker/daterangepicker.js" th:src="@{/static/web/vendors/bootstrap-daterangepicker/daterangepicker.js}" type="text/javascript" ></script>
		   		   		<script src="/resources/static/web/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" th:src="@{/static/web/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js}"></script>   		
		   		   		
		   		   		
		      
		   		
		   		<script src="/resources/static/web/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js" th:src="@{/static/web/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js}" type="text/javascript"></script>
		 		             <script src="/resources/static/js/custom.min.js" th:src="@{/js/custom.min.js}" type="text/javascript"></script>
		 
				 
		 
		 
				 <meta th:include="this :: head-css"/> 
		  </head> 
		  
		 </div>
   </div>

</body>



</html>

