<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/head :: head-css"/>
 


<body>
 <div class="container">
	<div th:fragment="header">
	    <!-- this is header -->
<!-- 	    <header class="navbar navbar-inverse"> -->
	       
<!-- 	            <div class="navbar-header"> -->
<!-- 	                <a class="navbar-brand" th:href="@{/logout}">Logout</a> -->
<!-- 	            </div> -->
<!-- 	            <div id="navbar" class="collapse navbar-collapse"> -->
<!-- 	                <ul class="nav navbar-nav"> -->
<!-- 	                    <li class="active"><a th:href="@{/home}">Home</a></li> -->
<!-- 	                </ul> -->
<!-- 	            </div> -->
	       
<!-- 	    </header> -->
	    </div>
	     </div>
</body>



</html>

