<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Login2</title>
</head>

<body>

<header th:replace="layout :: site-header">

<h2>Please login</h2>
<form method="post" th:object="${usuario}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"
           th:value="${username}" />
<!--     <span class="formError" -->
<!--           th:if="${#fields.hasErrors('Username')}" -->
<!--           th:errors="#{username}">Invalid username</span> -->

    <br />

    <label for="senha">Password:</label>
    <input type="password" id="password" name="senha"
           th:value="${senha}"/>
<!--     <span class="formError" -->
<!--           th:if="${#fields.hasErrors('senha')}" -->
<!--           th:errors="*{senha}">Invalid password</span> -->

    <br />
    <input type="submit" value="login" />
</form>

</header>
</body>

<footer th:replace="layout :: site-footer">
</footer>

</html>

